<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>MyParcel - OpenCart - Passdata from PostNL through MyParcel</title>
</head>
<body>
<script type="text/javascript">
/* Querystring.js ******************************************************************************/
    function Querystring(qs) { // optionally pass a querystring to parse
        this.params = new Object()
        this.get=Querystring_get

        if (qs == null)
            qs=location.search.substring(1,location.search.length)

        if (qs.length == 0) return

        qs = qs.replace(/\+/g, ' ')
        var args = qs.split('&') // parse out name/value pairs separated via &


        for (var i=0;i<args.length;i++) {
            var value;
            var pair = args[i].split('=')
            var name = unescape(pair[0])

            if (pair.length == 2)
                value = unescape(pair[1])
            else
                value = name

            this.params[name] = value
        }
    }

    function Querystring_get(key, default_) {
        // This silly looking line changes UNDEFINED to NULL
        if (default_ == null) default_ = null;

        var value=this.params[key]
        if (value==null) value=default_;

        return value
    }

    window.onload = passData;
    function passData()
    {
        var name;
        var street;
        var houseNr;
        var houseNrAdd;
        var postalCodeNum;
        var postalCodeAlpha;
        var city;

        var qs = new Querystring();
        if (qs.get("action") == "confirm")
        {
            name            = qs.get('name');
            street          = qs.get('street');
            houseNr         = qs.get('housenumber');
            houseNrAdd      = qs.get('housenumberadd');
            postalCodeNum   = qs.get('postalcodenum');
            postalCodeAlpha = qs.get('postalcodealpha');
            city            = qs.get('city');

            if(parent.parent.window.opener)
            {
                var shopname = name.split('&nbsp;&nbsp;');
                if(shopname.length == 2) shopname = shopname[1];

                // NOTE: hieronder specificeert u de naam van het formulier
                // in dit voorbeeld: 'checkout_shipping'
                var formulier = parent.parent.window.opener.document;//.forms['userForm'];
                /**** Since the fix for pg address ****/
                try {
                    formulier.getElementsByName("company")[1].value   = shopname;
                } catch (err) {}

                try {
                    formulier.getElementsByName("postcode")[1].value  = postalCodeNum + postalCodeAlpha;
                } catch (err) {}

                /**** Since the fix for postcodeNL ****/
                var address2 = formulier.getElementById("input-shipping-address-2");
                var postcodeNL = false;
                if (address2) {
                    var parent_address2 = address2.parentNode.parentNode;
                    if (parent_address2.classList.contains('required'))
                    {
                        postcodeNL = true;
                        address2.value = houseNr + ' ' + houseNrAdd;
                        street.slice(0, street.lastIndexOf(address2.value));
                    }
                }

                if (postcodeNL) {
                    try {
                        formulier.getElementsByName("address_1")[1].value = street;
                    } catch (err) {
                    }
                } else {
                    try {
                        formulier.getElementsByName("address_1")[1].value = street + ' ' + houseNr + ' ' + houseNrAdd;
                    } catch (err) {
                    }
                }
                /**** End the fix for postcodeNL ****/

                try {
                    formulier.getElementsByName("city")[1].value      = city;
                } catch (err) {}
                // NOTE: de locatie slaan we op als 'bedrijf'. De naam van de persoon die afhaalt, dient door de klant ingevuld te worden in een 'naam' veld.

                // NOTE: zorg dat pakjegemak zendingen naar Nederland gaan
                // in dit voorbeeld vullen we de 'country' drop-down automatisch goed in
                try {
                    formulier.getElementsByName("country_id")[1].value = 150;
                } catch (err) {}
                //parent.parent.window.opener.document.getElementById('shipto_virtuemart_country_id').style.display = 'block';
                //if (parent.parent.window.opener.document.getElementById('shipto_virtuemart_country_id_chzn')) { parent.parent.window.opener.document.getElementById('shipto_virtuemart_country_id_chzn').style.display = 'none'; }

                /****************************************/

                // **********************************************************************************
                // ****************************START OF QUICKCHECKOUT FIX****************************
                // **********************************************************************************
                if (formulier.getElementById("shipping_address_form")) {
                    try {
                        var field_company = formulier.getElementById("shipping_address_company");
                        field_company.value   = shopname;
                        fireEvent(field_company, 'change');
                    } catch (err) {}

                    try {
                        var field_postcode = formulier.getElementById("shipping_address_postcode");
                        field_postcode.value   = postalCodeNum + postalCodeAlpha;
                        fireEvent(field_postcode, 'change');
                    } catch (err) {}

                    try {
                        var field_address1 = formulier.getElementById("shipping_address_address_1");
                        field_address1.value = street + ' ' + houseNr + ' ' + houseNrAdd;
                        fireEvent(field_address1, 'change');
                    } catch (err) {}

                    try {
                        var field_city = formulier.getElementById("shipping_address_city");
                        field_city.value = city;
                        fireEvent(field_city, 'change');
                    } catch (err) {}

                    try {
                        var country_select =  formulier.getElementById("shipping_address_country_id");
                        country_select.value = 150;

                        for (var i = 0; i < country_select.options.length; i++) {
                            if (country_select.options[i].text === 'Netherlands') {
                                country_select.selectedIndex = i;
                                break;
                            }
                        }
                    } catch (err) {}

                    try{
                        fireEvent(country_select, 'change');
                    }catch(ex){
                        // Possbile IE 11
                        //formulier.getElementById('add_address').submit();
                    }
                }


                // **********************************************************************************
                // ******************************END OF QUICKCHECKOUT FIX****************************
                // **********************************************************************************
				
				// **********************************************************************************
                // ****************************START OF JOURNAL THEME FIX****************************
                // **********************************************************************************
                if (formulier.getElementById("shipping-new") && formulier.getElementById("shipping-address")) {
                    try {
                        var field_company = formulier.getElementById("input-shipping-company");
                        field_company.value   = shopname;
                        fireEvent(field_company, 'change');
                    } catch (err) {}

                    try {
                        var field_postcode = formulier.getElementById("input-shipping-postcode");
                        field_postcode.value   = postalCodeNum + postalCodeAlpha;
                        fireEvent(field_postcode, 'change');
                    } catch (err) {}

                    try {
                        var field_address1 = formulier.getElementById("input-shipping-address-1");
                        field_address1.value = street + ' ' + houseNr + ' ' + houseNrAdd;
                        fireEvent(field_address1, 'change');
                    } catch (err) {}

                    try {
                        var field_city = formulier.getElementById("input-shipping-city");
                        field_city.value = city;
                        fireEvent(field_city, 'change');
                    } catch (err) {}

                    try {
                        var country_select =  formulier.getElementById("input-shipping-country");
                        country_select.value = 150;

                        for (var i = 0; i < country_select.options.length; i++) {
                            if (country_select.options[i].value == 150) {
                                country_select.selectedIndex = i;
                                break;
                            }
                        }
                    } catch (err) {}

                    try{
                        fireEvent(country_select, 'change');
                    }catch(ex){
                        // Possbile IE 11
                        //formulier.getElementById('add_address').submit();
                    }
                }


                // **********************************************************************************
                // ******************************END OF JOURNAL THEME FIX****************************
                // **********************************************************************************
				
				// **********************************************************************************
                // ****************************START OF livvlifestyle.nl FIX****************************
                // **********************************************************************************
                if (formulier.getElementById("simplecheckout_shipping_address")) {
                    try {
                        var field_company = formulier.getElementById("shipping_address_company");
                        field_company.value   = shopname;
                    } catch (err) {}

                    try {
                        var field_postcode = formulier.getElementById("shipping_address_postcode");
                        field_postcode.value   = postalCodeNum + postalCodeAlpha;
                    } catch (err) {}

                    try {
                        var field_address1 = formulier.getElementById("shipping_address_address_1");
                        field_address1.value = street + ' ' + houseNr + ' ' + houseNrAdd;
                    } catch (err) {}

                    try {
                        var field_city = formulier.getElementById("shipping_address_city");
                        field_city.value = city;
                    } catch (err) {}

                    try {
                        var country_select =  formulier.getElementById("shipping_address_country_id");
                        country_select.value = 150;

                        for (var i = 0; i < country_select.options.length; i++) {
                            if (country_select.options[i].value == 150) {
                                country_select.selectedIndex = i;
                                break;
                            }
                        }
                    } catch (err) {}

                    try{
                        fireEvent(country_select, 'change');
                    }catch(ex){
                        // Possbile IE 11
                        //formulier.getElementById('add_address').submit();
                    }
                }

                // **********************************************************************************
                // ******************************END OF livvlifestyle.nl FIX****************************
                // **********************************************************************************
            }
        }
        
		var pg_data = new Array('action=save_pg_address', 'pg_extra_name=' + shopname, 'pg_extra_street=' + street, 'pg_extra_house_number=' + houseNr, 'pg_extra_number_addition=' + houseNrAdd, 'pg_extra_postcode=' + postalCodeNum + postalCodeAlpha, 'pg_extra_town=' + city);
        loadXMLDoc(pg_data);
    }
	
	/**** Since the fix for pg address ****/
    function fireEvent(element, type){
        var event;
        event = document.createEvent("MouseEvents");
        event.initMouseEvent(type, true, true, element.ownerDocument.defaultView,
                0, 0, 0, 0, 0, false, false, false, false, 0, null);
        element.dispatchEvent( event );
    }
   

    function loadXMLDoc(pg_data) {
        var xmlhttp;

        if (window.XMLHttpRequest) {
            // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        } else {
            // code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }

        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == XMLHttpRequest.DONE ) {
                parent.parent.window.close();
            }
        }

        var params = pg_data.join('&');

        xmlhttp.open("GET", "/index.php?route=module/myparcel/save_pg_address" + "&" + params, true);
        xmlhttp.send();
    }
    /***************************************/
</script>
</body>
</html>